.has-text-caution {
  color: #ffbc57; }

.hide {
  opacity: 0;
  transition: all 0.4s ease-out;
  position: absolute; }

.weather-section {
  padding: 2rem 1rem; }

.forecast-article {
  position: relative; }

.lookup {
  width: 75%;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-top: 1px solid grey;
  padding: 1rem 0 1.5rem 0;
  transform: translateX(-50%); }

.geo-button {
  float: right; }

.temp, .weather-detail {
  font-size: 4rem; }

.last-request {
  font-style: italic; }

.options-title {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid grey; }

.flipper {
  perspective: 600px; }

.card {
  width: 100%;
  height: 100%;
  transition: transform 0.75s;
  transform-style: preserve-3d;
  cursor: pointer; }

.is-flipped {
  transform: rotateY(180deg); }

.card__face {
  backface-visibility: hidden; }

.card__face--back {
  transform: rotateY(180deg);
  position: relative;
  bottom: 50%; }
