<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../temp/css/main.css">
  <link rel="shortcut icon" href="../../../../public/favicon.png" />
  <meta name="theme-color" content="#000000" />
  <link rel="manifest" href="../../../../public/manifest.json" />
  <title>Weather App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <section class="weather-section">

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-9">
        <div class="tile is-parent is-12">
          <article class="tile is-child box">
            <h1 class="title is-inline">{{title}}</h1>
          </article>
        </div>
        <div class="tile">

          <div class="tile is-parent has-text-centered">
            <article class="tile is-child box forecast-article">
              <h3 class="subtitle is-5 location">Forecast</h3>
              <p class="temp"></p>
              <h2 class="title is-size-4 forecast">No weather data. Enter location</h2>
              <div class="lookup">
                <form class=""  method="post">
                  <label class="label">Address or City</label>
                  <div class="field has-addons">
                    <div class="control is-left">
                      <input class="input field-danger" type="text" placeholder="Location input">
                    </span>
                  </div>
                  <div class="control">
                    <button class="button search-button is-primary is-outlined">Search<i class="search-loader hide fas fa-sync fa-spin"></i></button>
                  </div>
                </div>
                <p class="help is-danger"></p>
              </form>
              <div class="geo hide">

                <div class="field is-grouped">

                  <label class="label">or</label>
                </div>
                <div class="control">
                  <button class="button geo-button is-primary is-outlined">Use Geolocation</button>
                </div>
              </div>
            </div>

          </article>
        </div>
        <div class="tile is-6 is-vertical">
          <div class="tile">
            <div class="tile is-parent">
              <article class="tile is-child box has-text-centered">
                <h3 class="subtitle">Humidity</h3>
                <p class="has-text-danger weather-detail humidity">N/A</p>
                <p class="has-text-danger intensity intensity--humidity">High</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box has-text-centered">
                <h3 class="subtitle">Precipitation</h3>
                <p class="has-text-primary weather-detail precip">N/A</p>
                <p class="has-text-primary intensity intensity--precip">Low</p>
              </article>
            </div>
          </div>
          <div class="tile">
            <div class="tile is-parent">
              <article class="tile is-child box has-text-centered">
                <h3 class="subtitle">UV Index</h3>
                <p class="has-text-warning weather-detail uv-index">N/A</p>
                <p class="has-text-warning intensity intensity--precip">Medium</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box has-text-centered">
                <h3 class="subtitle">Wind</h3>
                <p class="has-text-caution weather-detail wind">N/A</p>
                <p class="has-text-caution intensity intensity--precip">Fast</p>
              </article>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="tile is-parent is-3 is-vertical">
      <article class="tile is-child box has-text-centered">
        <h3 class="subtitle">Options</h3>
        <p class="">Last Request made at: </p>
        <p class="intensity intensity--humidity">High</p>
      </article>
      <article class="tile is-child box has-text-centered">
        <div class="content">
          <h3 class="subtitle">Weather Alerts</h3>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
          </div>
        </div>
      </article>

    </div>
  </div>
  <footer class="tile is-ancestor">
    <div class="tile is-12">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="subtitle is-inline">Credits:&nbsp;</p>
          <p class="is-inline"><a href="https://bulma.io">
            <img src="../../../assets/imgs/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
          </a>, <a href="https://nodejs.org/"><img src="../../../assets/imgs/node.png" alt="NodeJS"></a>, and <i class=" has-text-danger fas fa-heart"></i> by <a class="is-link" href="https://github.com/baelx">Baelx</a></p>
        </article>
      </div>
    </footer>
  </section>

  <script src="../../../temp/js/App.js" charset="utf-8"></script>
</body>
</html>
