//Vars
$bulma-green: #00d1b2;
$orange-caution: hsl(36, 100%, 67%);

.has-text-caution {
  color: $orange-caution;
}

.hide {
  opacity: 0;
  transition: all 0.4s ease-out;
  position: absolute;
}

.weather-section {
  padding: 2rem 1rem;
}

.forecast-article {
  position: relative;
}

.lookup {
  width: 75%;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-top: 1px solid grey;
  padding: 1rem 0 1.5rem 0;
  transform: translateX(-50%);
  form {
  }
}

.geo-button {
  float: right;
}

.temp, .weather-detail {
  font-size: 4rem;
  // font-weight: 500;
}

.last-request {
  font-style: italic;
  &--time {

  }
}

.options-title {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid grey;
}
