.flipper {
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 0.75s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.is-flipped {
  transform: rotateY(180deg);
}

.card__face {

  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}
